<div style="margin: 20px;">
    <div style="margin-bottom: 20px">
        <div style="margin-bottom: 20px; margin-top: 20px; background: #fff;">
            <nz-page-header>
                <nz-page-header-title>Setups</nz-page-header-title>
            </nz-page-header>
        </div>
    </div>

    <nz-card>
        <nz-tabset>
            <nz-tab nzTitle="Messages">
                <app-messages></app-messages>
            </nz-tab>
            <nz-tab nzTitle="Crimes">
                <app-crimes></app-crimes>
            </nz-tab>
        </nz-tabset>
    </nz-card>
</div>